body {
    font-family: sans;
    background: white;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.add {
    background: goldenrod;
    text-align: center;
}

#content {
    background: #ddd;
    float:left;
    width: 600px;
}

#sidebar {
    background: #4F7995;
    float:left;
    width: 200px;
    height: 1000px;
}

#sidebar h1,h2,h3,h4 {
    margin:0; padding:0; text-align: center;
}

#sidebar p {
    margin: 0;
}

pre {
    padding: 1em;
    border: 1px dashed orange;
    background: #f0f0f0;
    color: black;
}

#sidebar ul {
    /* list-style: none; */
    margin-left: 0;
    padding-left: 1.5em;
}
#sidebar li .current {
    color: orange;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    background: black;
    color: white;
}

.body {
    padding: 1em;
}
#dependencies {
    background: #9D877A;
    color: black;
}

#dependencies p {
    color: red;
    margin: 0;
    padding: 0;
    display: inline;
}
#dependencies a {
    text-decoration: none;
}
#dependencies a:hover {
    background: black;
}

.edit {
    float: right;
}

h1 {
    margin: 0;
    padding: 0;
}

p {
    margin: .5em;
}
