body {
    font-family: times;
}

#nav {
    background: goldenrod;
    padding: 10px;
}

#sidebar {
    background: #ddd;
    float:left;
    width: 10%;
}

#content {
    background: #eee;
    width: 90%;
    float:left;
}

.body {
    padding: 1em;
}
.dependencies {
    background: black;
    color: white;
}
.edit {
    float: right;
}

pre code {
    color: green;
}

h1 {
    margin: 0;
    padding: 0;
    text-align: center;
}

p {
    margin: .5em;
}

pre {
    margin-left: 1em;
}