body {
    padding: 0;
    margin: 0;
    background: #321;
}
#content-container {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    background: orange;
    margin-top: 1em;
    padding: .2em;
    border-radius: 5px;
}

#content {
    /* border-radius: 5px; */
    padding: 1em;
    background: #ddd;
}

#title {
    color: white;
    background: black;
    padding: 10px;
    font-size: 200%;
    border-radius: 5px 5px 0 0;
}

.solution pre, .project pre {
    padding: 10px;
    border: dotted 1px orange;
}
.project pre {
    background: #ded;
}

.solution pre {
    background: #edd;
}

.hint {
    border: 2px solid #5f5;
    border-radius: 5px;
    background: #8f8;
    padding: .5em;
}

div.comments {
    padding: .5em;
    background: #fff;
}

div.comment {
    margin: 1em;
    padding: .5em;
}
div.comment.odd { background: #ccc; }
div.comment.even { background: #ccd; }

.solutions {
    padding: 1em;
    border-radius: 5px;
    float: right;
    background: orange;
}
.notice { background: lime; }
.alert { background: pink; }
