<% content_for :title do %>
<%= current_user %>
<% end %>

<table border=1 style="width: 100%">
  <th style="width: 50%">
    <h1>you can do one of these next</h1>
  <th style="width: 50%">
    <h1>you have completed</h1>
  </th>

  <tr>
    <td>
      <% @next_projects.each do |p| %>
      <li>
        <%= link_to p, p %>
      </li>
      <% end %>
    </td>
    <td>
      <ul>
        <% @completed_projects.each do |p| %>
        <li>
          <%= link_to p, p %>
        </li>
        <% end %>
      </ul>
    </td>
  </tr>
</table>
