<h1>Hack Adventures</h1>

<ul>
  <% @adventures.each do |adventure| %>
  <li>
    <%= link_to adventure.name, adventure %> --
    <%= adventure.short_description %>
  </li>
<% end %>
</ul>

<br />

<%= link_to 'New Adventure', new_adventure_path %>
