<div id="sidebar" class="left">
  <%= @completed %>
  <div class="available">
    <h2>available lessons</h2>

    <% if @available.blank? %>
      there is nothing you can do!
    <% else %>
    <ul>
      <% @available.each do |l| %>
        <%= lesson_link_helper l %>
      <% end %>
    </ul>
    <% end %>
  </div>

  <div class="all">
    <h2>All lessons</h2>

    <% if @lessons.blank? %>
      no lessons!?
    <% else %>
    <ul>
      <% @lessons.each do |l| %>
        <%= lesson_link_helper l %>
      <% end %>
    </ul>
    <% end %>
  </div>
</div>
