<div id="sidebar" class="left">
  <div class="list completed">
    <h3>completed</h3>
    <% if @completed.blank? %>
    <em style="font-size:50%">you haven't completed any yet</em>
    <% else %>
    <ul>
    <% @completed.each do |l| %>
      <%= lesson_link_helper l %>
    <% end %>
    </ul>
    <% end %>
  </div>

  <div class="list available">
    <h3>next</h3>

    <% if @available.blank? %>
      there is nothing you can do!
    <% else %>
    <ul>
      <% @available.each do |l| %>
        <%= lesson_link_helper l %>
      <% end %>
    </ul>
    <% end %>
  </div>

  <div class="list all">
    <h3>all</h3>

    <% if @lessons.blank? %>
      no lessons!?
    <% else %>
    <ul>
      <% @lessons.each do |l| %>
        <%= lesson_link_helper l %>
      <% end %>
    </ul>
    <% end %>
  </div>
</div>
