<div class="edit">
  <%= link_to "Edit", edit_lesson_path(@lesson) %>
</div>

<h1><%= textilize(@lesson.name).html_safe %></h1>


<div class="body">
  <%= textilize(@lesson.body).html_safe %>
</div>

<div class="dependencies">
  dependencies: <%= @lesson.deps %>
</div>
